TF_VAR_aws_access_key=""
TF_VAR_aws_secret_key=""

TF_VAR_backend_backend_url=""
TF_VAR_backend_google_api_key=""

TF_VAR_frontend_certificate_arn=""
TF_VAR_frontend_google_api_key=""
TF_VAR_frontend_zone_id=""
